.headerSection {
    list-style-type: none !important;
}
.headerSection li {
   float: left !important;
   padding: 15px !important;
}
.headerSection li a {
    color:black !important;
}
.head {
    margin: -25px 0px !important;
    padding: 15px !important;
}
input[type=search] {
     border-radius: 5px !important;
}
.mytable tr th {
    border: 1px solid black;
}
.mytable tr td {
    border: 1px solid black;
}

