{% extends "EMP/header.html" %}

{% block content %}
<div class="row" style="margin-top:2%">
 <div class="large-push-2 large-4 columns">
    <form id="searchEmployee" action="/EMP/searchdata/" method="get">
    <input type="text" id="searchtext" name="searchtext" required>
    <input type="submit" class="button small">
    </form>
     <p style="text-align:center; color:red;">{{ msg }}</p>
 </div>
</div>
{% if p %}
    <div class="row  viewTable">
    <div class="large-push-2 large-9 columns">
       <table align>
           <tr>
               <th>Name</th>
               <th>Email ID</th>
               <th>Mobile Number</th>
           </tr>
           {% for items in table %}
           <tr>
               <td>{{ items.username }}</td>
               <td>{{ items.emailId }}</td>
               <td>{{ items.mobileNumber }}</td>
           </tr>
           {% endfor %}
       </table>
    </div>
    </div>

    <p style="text-align:center; color:red;"class="val3"></p>
{% endif %}
{% endblock %}
